.container {
    display: grid;
    /* go as L (first row and then culomns) */
    grid-template: repeat(2, 50px) / repeat(3, 1fr); 
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px); */
    grid-gap: 3px;
}